<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->

	<bean id="a1" class="com.model.Address">
		<property name="city" value="Pune"></property>
		<property name="state" value="Maharashtra"></property>
		<property name="country" value="India"></property>
		<property name="pincode" value="410122"></property>

	</bean>


	<bean id="e1" class="com.model.Employee">
		<property name="id" value="101"></property>
		<property name="name" value="Raj "></property>
		<property name="address" ref="a1"></property>
	</bean>

</beans>