<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>ConfigJSPTest</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.xhtml</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.xhtml</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>welcome</servlet-name>
		<jsp-file>/welcome.jsp</jsp-file>
		<init-param>
			<param-name>dname</param-name>
			<param-value>com.mysql.jdbc.driver</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>welcome</servlet-name>
		<url-pattern>/welcome.jsp</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
		
		<init-param>
			<param-name>admin</param-name>
			<param-value>rootroot</param-value>
		</init-param>
	
	</servlet>
	
	
	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index.jsp</url-pattern>
	</servlet-mapping>
	
	
	<!-- Context Parameter is accessible for entire Application -->
	
	<context-param>
		<param-name>cpara</param-name>
		<param-value>project.level.parameter</param-value>
	</context-param>

</web-app>
